<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angela.bestlesson">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/book"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="BestLesson"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registrazione"></activity>
        <activity android:name=".OrganizzaCalendario"></activity>
        <activity android:name=".RecuperaPassword" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".BasicActivity"></activity>
        <activity android:name=".Utility.BaseActivity"></activity>
        <activity android:name=".AggiungiContatto"></activity>
        <activity android:name=".Profilo"></activity>
        <activity android:name=".Contatta"></activity>
        <activity android:name=".VisualizzaRubrica"></activity>
        <activity android:name=".SetLezione" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Utility.NotificationActivity" />

        <receiver android:name=".Utility.AlarmReceiver"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>